@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

:root {
  --font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 400;
  color: #1b1a1a;
}

.text-grey {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #645c55;
}

h2 {
  font-size: 64px;
  line-height: 110%;
  font-weight: inherit;
}

h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 119%;
  color: #403e3b;
}

p {
  font-size: 16px;
  line-height: 150%;
  color: #403e3b;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  max-height: 90px;
  padding: 22px 21px 22px 32px;
}

.logo {
  max-width: 220px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
}

.nav-menu {
  display: flex;
  gap: 32px;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  line-height: 160%;
}

.btn-dark {
  border-radius: 14px;
  background: #1b1a1a;
  padding: 11px 20px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-dark:hover {
  background: #656363;
}

.hero {
  display: flex;
  justify-content: space-between;
}
.hero__content {
  flex: 1;
  background-color: #ece7e4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content__text-block {
  margin-top: 17px;
  max-width: 600px;
  max-height: 600px;
  padding: 40px;
}
.hero__content__text-block h5 {
  margin-bottom: 20px;
}
.hero__content__text-block p {
  margin-top: 18px;
  margin-bottom: 30px;
  max-width: 509px;
  max-height: 120px;
  overflow: auto;
  text-overflow: clip;
}

.btn-read-more {
  padding: 11px 20px;
  background: transparent;
  font-size: 16px;
  border-radius: 3px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-read-more:hover {
  background: #d1c7a0;
}

.hero__image {
  flex: 1;
  max-height: 720px;
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left bottom;
     object-position: left bottom;
}

.our-firm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-firm__inner {
  max-width: 768px;
  max-height: 582px;
  margin-top: 100px;
  margin-bottom: 130px;
  display: flex;
}
.our-firm__inner h3 {
  flex: 1;
}
.our-firm__inner__column {
  flex: 2;
}

.paragrafs {
  max-height: 470px;
  overflow: auto;
}
.paragrafs p {
  margin-bottom: 10px;
}

.firm-leader {
  margin-top: 8px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.firm-leader p {
  font-size: 17px;
  line-height: 153%;
  margin-bottom: -10px;
}
.firm-leader span {
  font-size: 14px;
  line-height: 100%;
  color: #645c55;
}

.reeding-house {
  display: flex;
}
.reeding-house .reeding-house__inner {
  position: relative;
  max-height: 600px;
}
.reeding-house .reeding-house__inner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reeding-house .reeding-house__inner .reeding-house__text {
  position: absolute;
  max-width: 285px;
  top: calc(50% - 40px);
  left: 75%;
  padding-right: 10px;
}
.reeding-house .reeding-house__inner .right {
  left: 4%;
}
.reeding-house .reeding-house__inner .reeding-house__title {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #403e3b;
}
.reeding-house .reeding-house__inner .reeding-house__disc {
  font-size: 16px;
  line-height: 150%;
  color: #645c55;
}

.how-we-do__inner {
  max-width: 1200px;
  margin: 100px auto 110px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.how-we-do__inner h3 {
  font-size: 39px;
  line-height: 108%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.service {
  max-width: 378px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service h4 {
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: #403e3b;
  margin-top: 15px;
  margin-bottom: 10px;
}
.service p {
  padding: 0 42px;
  text-align: center;
  overflow: auto;
  font-size: 15px;
  line-height: 160%;
  text-align: center;
  color: #645c55;
}

.happy-customers {
  background: #403e3b;
  color: #fff;
  padding: 60px 136px;
}
.happy-customers__inner {
  display: flex;
  align-items: center;
  gap: 132px;
}

.inner__text {
  flex-basis: 460px;
}
.inner__text h3 {
  color: #fff;
  margin-bottom: 14px;
}
.inner__text p {
  font-size: 15px;
  line-height: 160%;
  color: #ece7e4;
}

.client-logos {
  flex-basis: 432px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 216px;
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-projects {
  padding: 120px 120px 100px 120px;
}
.featured-projects_inner h3 {
  padding: 0 16px;
  font-size: 39px;
  line-height: 108%;
  margin-top: -7px;
}
.featured-projects_inner p {
  margin-top: 15px;
  padding: 0 0 0 16px;
  font-weight: 400;
  max-width: 600px;
  font-size: 24px;
  line-height: 125%;
  color: #645c55;
}
.featured-projects_inner .btn {
  width: 180px;
  display: block;
  margin: 0 auto;
}

.projects {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0 16px;
  display: flex;
  gap: 16px;
}

.project {
  max-width: 379px;
  max-height: 460px;
  padding: 0 2px;
  position: relative;
}
.project img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hoverr {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}
.hoverr .hoverr_tex-block h5 {
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #645c55;
}
.hoverr .hoverr_tex-block h4 {
  font-size: 23px;
  line-height: 130%;
  color: #403e3b;
}
.hoverr .btn {
  margin: 0;
  border-radius: 14px;
  width: 133px;
  height: 46px;
  background: #1b1a1a;
  color: #fff;
}
.hoverr .btn:hover {
  background: grey;
}

.hoverr:hover {
  opacity: 0.7;
}/*# sourceMappingURL=style.css.map */