.footer {
    padding: 60px 136px;

    // .footer__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: end;

    }
}
.social-media {
    display: flex;
    justify-content: end;
    gap: 20px;

    a {
        img {

        }
    }
}

.footer__inner__text-block {
    div {
        margin-bottom: 20px;
    }

}
