.team {
    padding: 100px 136px;

    // .team__inner

    &__inner {
        display: flex;
        // gap: 16px;
        justify-content: center;


        // .team__inner_text-block

        &_text-block {
            flex: 1;
            p {
                font-size: 15px;
                line-height: 160%;
                color: #645c55;
                margin: 10px 0 30px 0;
            }
        }
    }
}
.team__inner__teams {
    flex: 2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px 0;

    .firm-leader {
        margin: 8px;
        text-wrap: nowrap;
    }

}

